@font-face {
  font-family: 'Roboto-light';
  src: url($path-fonts + 'roboto-light.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url($path-fonts + 'roboto-regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral-regular';
  src: url($path-fonts + 'spectralsc-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral-medium';
  src: url($path-fonts + 'spectralsc-medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral-bold';
  src: url($path-fonts + 'spectralsc-bold.woff2') ;
  font-weight: 600;
  font-style: normal;
}
