
.page-template-campanhas-php,
.single-post {

  .cover {
    //width: 100vw;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    .scroll-down {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: black;
      background-image: url(./../../assets/images/Scoll.png);
      margin: auto;
    }
  
    
    .section-info,
    .campaign-info {
      padding: 50px 0;

      color: white;
      width: 90%;
      text-align: center;

      // transform: translateY(-25%);

      @media (min-width: 1000px) {
        width: 30%;

        padding: 150px 0;
      }
      
      .section-name,
      .campaign-name {
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
        font-family: 'Spectral-regular';
        padding-left: 0.4em;
        font-weight: 300;

        &:before,
        &:after {
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: 40%;
        }

        &:after {
          margin-left: 7px;
        }

        &:before {
          margin-left: -27px;
        }
      }

      .campaigns {
        font-size: 17px;
        margin-top: 25px;

        .campaign {
          margin-bottom: 5px;

          a {
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: border-bottom .5s;
        
            &:hover {
              border-bottom: 1px solid white;
            }

          }
        }

      }
      
    }

    .campaign-info {
      color: black;

      .campaign-name {
        &:before,
        &:after {
          background-color: black;
        }
      }
    }
  }

  .images {
    .image {
      width: 100%;
      margin-bottom: -6px;
    }
  }
}


.single-post {

  #header {

    .social-media {
      
      .instagram {

        &:before {
          background-image: url(./../../assets/images/instagram_black.svg);
          opacity: 1;
        }
      }

      .facebook {

        &:before {
          background-image: url(./../../assets/images/facebook-black.svg);
          opacity: 1;
        }
      }
    }

    .logo-menu {
      display: block;
      background-image: url(./../../assets/images/logo-nannacay-black.png);
      width: 120px;
    }

    .menu-lines {
      .line {
        background-color: black;
      }
    }
  }
  
  @media (min-width: 1000px) {
    #header {
      
      .menu {
        color: black;

        .menu-list {
          .menu-item {

            &:hover {
              color: black;
            }
          }   
        }
      }
    }
  }
}    
