
.page-template-campanhas-php,
.single-post {

  #header {
    .logo-menu {
      display: none;
    }

    .social-media {
      display: none;
    }

    .menu-lines {
      .line {
        background-color: white;

      }
    }
  }

  @media (min-width: 1000px) {
    #header {
      position: absolute;

      .menu {
        position: absolute;
        top: 50vh;
        display: none;
      }

      .logo-menu {
        display: none;
      }
  
      .social-media {
        display: block;
        position: absolute;
        top: 6vh;
      }
    }
  }

  .cover {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
    
    .section-info,
    .campaign-info {
      padding: 50px 0;

      color: white;
      width: 70%;
      text-align: center;

      // transform: translateY(-25%);

      @media (min-width: 1000px) {
        width: 30%;

        padding: 150px 0;
      }
      
      .section-name,
      .campaign-name {
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
        font-family: 'Spectral-regular';

        &:before,
        &:after {
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: 45%;
        }

        &:after {
          margin-left: 17px;
        }

        &:before {
          margin-left: -30px;
        }
      }

      .campaigns {
        font-size: 17px;
        margin-top: 25px;

        .campaign {
          margin-bottom: 5px;
        }

      }
      
    }

    .campaign-info {
      color: black;
      transform: translateY(-10%);

      .campaign-name {
        &:before,
        &:after {
          background-color: black;
        }
      }
    }
  }

  .images {
    .image {
      width: 100%;
      margin-bottom: -4px;
    }
  }
}