
.single-post {

  #header {
    .logo-menu {
      display: none;
    }

    .social-media {
      display: none;
    }

    .menu-lines {
      .line {
        background-color: white;

      }
    }
  }

  @media (min-width: 1000px) {
    #header {
      position: absolute;

      .menu {
        display: none;
      }

      .logo-menu {
        display: block;
      }
  
      .social-media {
        display: block;
        position: absolute;
        top: 6vh;

        .instagram {

          &:before {
            background-image: url(./../../assets/images/instagram_black.svg);
            opacity: 1;
          }
        }

        .facebook {
          &:before {
            background-image: url(./../../assets/images/facebook-black.svg);
            opacity: 1;
          }
        }
      }
    }
  }

  .cover {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    
    .campaign-info {
      margin: auto;
      position: absolute;
      text-align: center;
      top: 45%;
      
      bottom: 0;
      right: 0;
      left: 0;

      width: 70%;

      transform: translateY(-25%);

      @media (min-width: 1000px) {
        width: 30%;
      }

      color: black;
      
      .campaign-name {
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;

        &:before,
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: black;
          position: absolute;
          top: 45%;
        }

        &:after {
          margin-left: 10px;
        }

        &:before {
          margin-left: -20px;
        }
      }

      .campaign-about {
         

      }

    }
  }

  .images {
    .image {
      width: 100%;
      margin-bottom: -4px;
    }
  }
}