
#header {
    position: fixed;
    z-index: 1;
    width: 100%;

    font-family: 'Spectral-regular';
    font-size: 12px;

    transition: opacity .5s ease-in;

    &.hide {
        opacity: 0;
    }

    .menu-lines {
        right: 15px;
        top: 10px;
        position: absolute;
        z-index: 2;

        .line {
            width: 30px;
            height: 3px;
            background-color: white;
            margin: 5px 0;
            transition: background-color .5s ease-in-out;      
        }
    }

    .logo-menu {
        display: block;
        background-image: url(./../../assets/images/logo_nannacay_white_top.png);
        width: 120px;
        height: 25px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 15px auto;
        position: fixed;
        right: 0;
        left: 0;
    }

    .menu {
        width: 100%;
        background-color: white;
        color: black;
        transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: top;

        text-transform: uppercase;

        .menu-list {
            
            .menu-item {
                padding: 15px;
                display: block;
                letter-spacing: 2px;
                font-size: 14px;
                background-color: white;
                transition: background-color .5s ease-in-out, color .5s;

                @media (min-width: 1000px) {
                    background-color: transparent;
                    padding: 1px 0;
                }

                &:hover {
                    background-color: rgb(214, 47, 115);
                    color: white;

                    @media (min-width: 1000px) {
                        background-color: transparent;
                        color: white;
                    }
                }
            }
        }

        &.black {

            .menu-list {
            
                .menu-item {

                    @media (min-width: 1000px) {
                        color: black;

                        &:hover {
                            color: black;
                        }
                    }
                    
                }
            }
        }
    }

    .social-media {

        position: fixed;
        top: 20px;
        left: 5%;

        .facebook,
        .instagram {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0 5px 0 0;
            display: inline-block;

            &:before,
            &:after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                transition: opacity 0.5s;
            }
            
        }

        .instagram {

            &:before {
                background-image: url(./../../assets/images/instagram_white.svg);
                opacity: 1;
            }
        }

        .facebook {

            &:before {
                background-image: url(./../../assets/images/facebook-white.svg);
                opacity: 1;
            }
        }
    }

    @media (min-width: 1000px) {

        margin: 0;

        .menu-lines {
            display: none;
        }

        .menu {
            width: 15%;
            background-color: transparent;
            color: white;
            transform: scaleX(1);

            position: fixed;
            top: 50vh;
            left: 5%;
            transform: translateY(-50%);
           
        }

    }
}

body.menu-open {
    #header {

        height: 100vh;
        width: 100vw;

        .menu {
            transform: scaleY(1);
        }

        .menu-lines {
          .line {
            background-color: white;
          }
        }
            
    }
}
