
#header {
    position: fixed;
    z-index: 1;
    width: 100%;

    font-family: 'Spectral-regular';
    font-size: 12px;

    .menu-lines {
        right: 15px;
        top: 10px;
        position: absolute;
        z-index: 2;

        .line {
            width: 30px;
            height: 3px;
            background-color: black;
            margin: 5px 0;
            transition: background-color .5s ease-in-out;
             
        }
    }


    .logo-menu {
        display: block;
        background-image: url(./../../assets/images/logo-nannacay-black.png);
        width: 120px;
        height: 25px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2% auto;
        position: fixed;
        right: 0;
        left: 0;
    }

    .menu {
        width: 100%;
        background-color: white;
        color: black;
        transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: top;

        text-transform: uppercase;

        .menu-list {
            
            .menu-item {
                padding: 20px;
                display: block;
                border-bottom: .5px solid #ddd;
            }
        }
    }

    .social-media {

        position: fixed;
        top: 6vh;
        left: 5%;

        .facebook,
        .instagram {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0 5px 0 0;
            display: inline-block;

            &:before,
            &:after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                transition: opacity 0.5s;
            }
            
        }
        .instagram {

            &:before {
                background-image: url(./../../assets/images/instagram_white.svg);
                opacity: 1;
            }
        }

        .facebook {

            &:before {
                background-image: url(./../../assets/images/facebook-white.svg);
                opacity: 1;
            }
        }
    }

    @media (min-width: 1000px) {

        margin: 0;

        .menu-lines {
            display: none;
        }

        .menu {
            width: 30%;
            background-color: transparent;
            color: white;
            transform: scaleX(1);

            position: fixed;
            top: 50vh;
            left: 5%;
            transform: translateY(-50%);

            // font-size: 
            
            .menu-list {
                
                .menu-item {
                    padding: 1px 0;
                    display: block;
                    border-bottom: none;
                    transition: padding 0.3s ease-in-out;

                    &:hover {
                        padding: 1px 10px;
                    }
                }
            }
        }

    }
}

body.menu-open {
    #header {

        height: 100vh;
        width: 100vw;

        .menu {
            transform: scaleY(1);
        }

        .menu-lines {
          .line {
            background-color: black;
          }
        }
            
    }
}
