
.page-template-index {

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  #header {
    .logo-menu {
      display: none;
    }
  }

  .cover {
    width: 100vw;
    height: 100vh;   
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .slick-dots {
      position: absolute;
      bottom: 8px;

      li button:before{
        font-size: 15px;
        color: white;
      }
    }

    .image-item {
      height: 100vh;
      min-width: 100vw;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .logo {
      width: responsive(280, 500);
      height: responsive(280, 500);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}