
.page-template-index {

  #header {
    .logo-menu {
      display: none;
    }
  }


  .cover {

    width: 100vw;
    height: 100vh;
    background-size: cover;
    // position: relative;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
  
    .logo {
      width: responsive(280, 500);
      height: responsive(280, 500);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

    }
  }
}