
.page-template-index {

  #header {
    .logo-menu {
      display: none;
    }
  }

  .cover {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &.slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .slick-dots {
      position: absolute;
      bottom: 8px;

      button:before{
        font-size: 20px;
        color: white;
        opacity: 0.5;
      }
      
      .slick-active button:before {
        color: black;
        opacity: 1;

      }
    }

    .image-item {
      height: 100vh;
      min-width: 100vw;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .logo {
      width: responsive(280, 500);
      height: responsive(280, 500);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}