
.page-template-onde-php {

  #header {
    
  }

  @media (min-width: 1000px) {
    #header {

    }
  }

  .cover {
  
    .section-info {
      text-align: center;
      width: 90%;
      color: white;

      .section-name {
        font-weight: 300;
      }

      .address {
        font-family: "Roboto-regular";
        text-transform: none;
      }
    }
  }

  .stores-info {

    @media (min-width: 1000px) {
      display: flex;
      min-height: 100vh;
    }

    .stores-image {

      @media (min-width: 1000px) {
        width: calc(50% - 30px);
        margin: 30px 0 30px 30px;
        background-size: cover;
        background-position: center center;
        background-image: url(./../../assets/images/onde_img.jpg);
      }
    }

    .stores-lists {
      padding: 40px 5% 200px;
      font-size: 11px;

      @media (min-width: 1000px) {
        width: 50%;
        padding: 4% 0 5% 8%;
      }
      .lists {
        @media (min-width: 1000px) {
          display: flex;

        }
      }

      .section {
        display: none;
        font-family: 'Spectral-regular';
        letter-spacing: .3em;

        @media (min-width: 1000px) {
          display: block;
          padding: 0 5% 0 68px;
          color: black;
          font-weight: bold;
          font-size: 25px;
          text-transform: uppercase;
          margin: 7% 0 10px;
          position: relative;

        }
      }

      .first-group {
        margin-top: 25px;
        padding: 0 5%;

        @media (min-width: 1000px) {
          padding: 0 7%;
        }

        @media (min-width: 1920px) {
          padding: 0 5%;
        }
      }
      
      .second-group {
        padding: 0 5%;

        @media (min-width: 1000px) {
          margin-top: 25px;
        }
      }

      .extra-list {
        margin-top: 45px;
      }

      .coutry,
      .extra-title {
        margin: 15px 0 5px;
        text-transform: uppercase;
      }
    }
  }
}