
.page-template-products {

  #header {

    .social-media {
      
      .instagram {

        &:before {
          background-image: url(./../../assets/images/instagram_black.svg);
          opacity: 1;
        }
      }

      .facebook {

        &:before {
          background-image: url(./../../assets/images/facebook-black.svg);
          opacity: 1;
        }
      }
    }

    .logo-menu {
      display: block;
      background-image: url(./../../assets/images/logo-nannacay-black.png);
      width: 120px;
    }

    .menu-lines {
      .line {
        background-color: black;
      }
    }
  }
  
  @media (min-width: 1000px) {
    #header {
      
      .menu {
        color: black;

        .menu-list {
          .menu-item {

            &:hover {
              color: black;
            }
          }   
        }
      }
    }
  }

  .batata {
    .s1 {
    background-color: blue !important; 
    }
  }

  .products {

    width: 95%;
    margin-left: 2.5%;

    @media (min-width: 1000px) {
      width: unset;
      margin-left: 25%;
      padding-top: 5%;
    }
  }


}