.post-template-produto {

  #header {

    .social-media {
      
      .instagram {

        &:before {
          background-image: url(./../../assets/images/instagram_black.svg);
          opacity: 1;
        }
      }

      .facebook {

        &:before {
          background-image: url(./../../assets/images/facebook-black.svg);
          opacity: 1;
        }
      }
    }

    .logo-menu {
      display: block;
      background-image: url(./../../assets/images/logo-nannacay-black.png);
      width: 120px;
    }

    .menu-lines {
      .line {
        background-color: black;
      }
    }
  }
  
  @media (min-width: 1000px) {
    #header {
      
      .menu {
        color: black;

        .menu-list {
          .menu-item {

            &:hover {
              color: black;
            }
          }   
        }
      }
    }
  }

  .product {

    width: 80%;
    margin: 0 0 0 5%;
    padding-top: 5%;

    @media (min-width: 1000px) {
      width: unset;
      margin-left: 18%;
      padding-top: 5%;
      display: flex;
    }

    .product-image {
      width: 100%;

      @media (min-width: 1000px) {
        width: 60%;
        margin: 0 20px 0 0; 
      }
      
      img {
        width: 100%;
      }
    }

    .product-info {

      @media (min-width: 1000px) {
        width: 30%;
        padding-top: 7%;
      }

      .product-name {
        text-transform: uppercase;
        font-family: 'Spectral-regular';
        letter-spacing: 2px;
        font-weight: 600;
        width: 50%;
        font-size: 17px;
      }

      .procuct-price {
        font-family: "Roboto-regular";
        &:before {
          content: '-';
          margin-bottom: 15px;
          display: block;
        }
      }

      .procuct-plots {
        font-family: "Roboto-regular";
        font-weight: bold;
        margin-bottom: 10px;
      }

      .shopfy-button {

      }

      .info-title {
        text-transform: uppercase;
        margin: 20px 0;
        font-family: 'Spectral-regular';
        font-weight: 600;
        letter-spacing: 2px;
      }

      .description {
        margin: 22px 0 20px 0;
      }

      .dimensions {
        display: flex;

        .parameter-list,
        .value-list {
          li {
            display: block;

          }
        }

        .parameter-list {
          margin: 0 22% 0 0;
        }
      }

      .tips {
        li {
          &:before {
            content: '-';
            margin-right: 10px;
          }
        }
      }
    }
  }
}