
.page-template-quem-somos-php {

  #header {

  }

  @media (min-width: 1000px) {
    #header {
      
    }
  }

  .cover {
    //width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-image: url(./../../assets/images/quem_somos_img__topo.jpg);
    background-attachment: fixed;
    text-transform: uppercase;
    font-family: 'Spectral-regular';

    display: flex;
    justify-content: center;
    align-items: center;
    
    .section-name {

      text-align: center;
      font-weight: 300;
      color: white;
    }
  }

  

  .definition {

    margin: $margin-bottom  8%;
    width: 70%;
    line-height: 1.7;

    @media (min-width: 1000px) {
      margin: 40px 3% $margin-bottom-small;
      width: 100%;
    }

    .title {
      text-transform: uppercase;
      font-size: 22px;
      font-family: 'Spectral-medium';
      display: block;
  
      @media (min-width: 1000px) {
        display: inline;
        font-size: 15px;
      }
    }
  }

  .image-subtitle {

    margin: 0 8% $margin-bottom;
    width: 84%;

    .image {
      width: 100%;
      margin: 0 0 10px;
    }

    .subtitle {
      width: 50%;
      font-size: $small-font-size;
    }
  }

  .text {
    margin: 0 8% $margin-bottom;
    line-height: 1.7;

    @media (min-width: 1000px) {
      margin: 0 3% $margin-bottom-small;
      font-size: 12px;
    }
  }

  .quote-author {
    margin: 0 8% $margin-bottom;

    @media (min-width: 1000px) {
      margin: 0 3% $margin-bottom-small;
    }

    .quote {
      font-family: 'Spectral-medium';
      font-size: $big-font-size;
      text-transform: uppercase;

      @media (min-width: 1000px) {
        font-size: $big-font-size-desktop;
      }

    }
    .author {
      font-size: $small-font-size;
      margin: 5px 0 0;

      @media (min-width: 1000px) {
        font-size: $small-font-size-desktop;
      }
    }
  }

  .video {
    margin: 0 0 $margin-bottom;
    width: 100vw;
    height: 50vw;
    background-color: pink;
  }

  .full-image {
    width: 100%;
    margin: 0 0 200px;
  }



  @media (min-width: 1000px) {
    .first-page {

      margin: 100px 5% 100px 25%;
      display: flex;
      flex-direction: column;

      .image-subtitle {
        position: absolute;
        left: 5%;
        width: 20%;
        height: 20%;
        margin: 40px 0 0 0;
      }
    }

    .second-page {
      display: flex;
      flex-direction: row;
      width: 95%;
      margin: 0 5% 100px;

      .quote-author {
        margin: 0;
      }

      .image-subtitle {
        margin: 0 2% 0 0;
        width: 30%;
      }

      .full-image {
        width: 30%;
        height: 30%;
        margin: 0;
      }

      .video-quote {
        width: 30%;
        margin: 0 2% 0 0;

        .video {
          margin: 0 0 30px 0;
          width: 100%;
          height: 20vw;
          background-color: pink;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .first-page {
      margin: 100px 5% responsive( 300, 500, 1920, 2560) 23%;
    }
  }
}