
.page-template-termos {

    #header {

        .social-media {
          
          .instagram {
    
            &:before {
              background-image: url(./../../assets/images/instagram_black.svg);
              opacity: 1;
            }
          }
    
          .facebook {
    
            &:before {
              background-image: url(./../../assets/images/facebook-black.svg);
              opacity: 1;
            }
          }
        }
    
        .logo-menu {
          display: block;
          background-image: url(./../../assets/images/logo-nannacay-black.png);
          width: 120px;
        }
    
        .menu-lines {
          .line {
            background-color: black;
          }
        }
      }
      
    @media (min-width: 1000px) {
        #header {
            
            .menu {
            color: black;

                .menu-list {
                    .menu-item {

                        &:hover {
                            color: black;
                        }
                    }   
                }
            }
        }
    }

    .terms {

        padding: 40px 15px 600px;

        @media (min-width: 1000px) {
            padding: 8% 10% 42% 30%;
        }

        .title {
            text-transform: uppercase;
            padding: 50px 0 30px;
        }
    }

    .footer {
        display: none;
    }
}